
{% load static %}
<!-- End Full Page Image Header -->

    <a id="jump-about"></a>
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">

        <h2>Our own eLearning is here!</h2>
        <p>San Juan Elementary School Learning Management System </p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <center><img src="{% static '/images/icon/Transparent_logo.png' %}" alt="My image"><center>
              
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>San Juan Elementary School</h3>
            <p class="fst-italic">
              Ang SJES ay nag bibigay ng kakayanan sa estudyante na gawin ang kanilang mga tungkulin sa paaralan upang mapanindigan ang kanilang aralin at mag sumite ng pangangailang sa eskwelahan sa pamamagitan ng internet kahit saan man.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Basahin ang printouts, Powerpoints, at Lesson</li>
              <li><i class="bi bi-check-circle"></i> Magpasa ng Assignment at Sagutan ang quiz </li>
              <li><i class="bi bi-check-circle"></i> Basahin ang Anunsyo at iba pa.</li>
            </ul>
            <p>
            
            </p>

          </div>
        </div>

      </div>
    </section>