{% extends 'index.html' %}
{% block title %} Certificate | SJES {% endblock title %}
{% block profile %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% url 'myCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block departments %}
{% url 'departments' %}
{% endblock %}

<head>
    <style>
        div{
            width: 600px; 
            border: 5px solid green; 
            margin-left:350px;
            padding-left: 30px;
        }

        td {
         padding: 1px;
         font-weight: bold;
        }
    </style>

</head>
{% block content %}

<div class ="content-body">
<br><br>
<div class="container ">
    <div class="card">
       <ol class="breadcrumb p-3">
          <li class="breadcrumb-item fw-bold"><a class="breadcrumb-item active" aria-current="page">Issue a Certificate </a>
          </li>
       </ol>

<div class="card-body">
    
<h1 style="text-align: center">Certificate <br></h1>
<hr>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=""></div>

         

            <div class="card-body">
            <div class="row form-material">
</div>
<br>
<label>First Name</label>
<input type="text"class="form-control" name="first" placeholder="first name" required>
<br>
<label>Last Name</label>
<input type="text" class="form-control"name="last" placeholder="last name" required>
        
<br>   
<label>Date of Completion</label>

<input type='date' class="form-control input-daterange-datepicker" name="date" required>
        

            <input type='hidden'class="form-control" name="xtext" value="520"> 
            <input type='Hidden' class="form-control" name="xdate" value="700">
            <input type='hidden'class="form-control"  name="ytext" value="720">
            <input type='hidden' class="form-control" name="ydate" value="1085">
            <br>
            <label>Text Format</label>
            <select name="tFont" class="form-control form-control-sm" id="tFont">
                <option value="arialbd.ttf">Arial Bold</option>
                <option value="ariali.ttf">Arial Italic</option>
                <option value="arialbd.ttf">Arial Bold Italic</option>
                <option value="ariblk.ttf">Arial Black </option>
                <option value="bahnschrift.ttf">Bahnschrift </option>	
                <option value="calibril.ttf">Calibri </option>
                <option value="calibrili.ttf">Calibri Light Italic</option>
                <option value="calibri.ttf">Calibri</option>
                <option value="calibrii.ttf">Calibri Italic</option>
                <option value="calibrib.ttf">Calibri Bold</option>
                <option value="calibriz.ttf">Calibri Bold Italic</option>
                <option value="cambriai.ttf">Cambria Italic</option>
                <option value="cambriab.ttf">Cambria Bold</option>
                <option value="cambriaz.ttf">Cambria Bold Italic</option>
                <option value="georgiab.ttf">Georgia Bold</option>
                <option value="timesbd.ttf">Times New Roman Bold</option>
            </select>
            <br>
            <label>Date Format</label>
            
            <select name="dFont" class="form-control form-control-sm" id="dFont">
                <option value="arialbd.ttf">Arial Bold</option>
                <option value="ariali.ttf">Arial Italic</option>
                <option value="arialbd.ttf">Arial Bold Italic</option>
                <option value="ariblk.ttf">Arial Black </option>
                <option value="bahnschrift.ttf">Bahnschrift </option>	
                <option value="calibril.ttf">Calibri </option>
                <option value="calibrili.ttf">Calibri Light Italic</option>
                <option value="calibri.ttf">Calibri</option>
                <option value="calibrii.ttf">Calibri Italic</option>
                <option value="calibrib.ttf">Calibri Bold</option>
                <option value="calibriz.ttf">Calibri Bold Italic</option>
                <option value="cambriai.ttf">Cambria Italic</option>
                <option value="cambriab.ttf">Cambria Bold</option>
                <option value="cambriaz.ttf">Cambria Bold Italic</option>
                <option value="consolab.ttf">Consolas Bold</option>
                <option value="georgiab.ttf">Georgia Bold</option>
                <option value="timesbd.ttf">Times New Roman Bold</option>
            </select>
        
        
          
           
            <br>
            <label>Name Font Size</label>
            <input type='number' class="form-control" name="sizeText" value="50">
            <br>
            <label>Date Font Size</label>
            <input type='number'  class="form-control"name="sizeDate" value="38">
            
        
            <br>
            
            <label>Template file path</label>
            <input type='file' class="form-control form-control-sm" name="inFile" required> 

            <br>
            <label>Text Color</label>
            <input type="color" class="complex-colorpicker form-control"  name="textcolor" value="#000000">
            <br>
            <button type="reset" class="btn btn-primary mx-2 rounded">Reset</button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary mx-2 rounded" download="certificate">Create Certificate</button>
            
        
      </table>
    </form>

</form>
    </div>
{% if Outfile %}
<p class="text-wrap text-break my-2 px-2">File uploaded at: <a style="color: blue;"href="{{ Outfile }}" target="_blank">{{ Outfile }}</a></p>
<br>
</div>
</div>
</div>
{% endif %}

{% endblock%}